body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: burgundy;
}

nav {
    background-color: burgundy;
    color: white;
    padding: 10px;
}

footer {
    background-color: burgundy;
    color: white;
    text-align: center;
    padding: 10px;
}
